body {
    background-color: #f3f2f3;
    margin: 0;
    padding: 0;
    background-image: url(./img/img2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

* {
    margin: 0;
}

.tol {
    position: fixed;
    right: 20px;
    bottom: 40%;
    z-index: 1;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.tol a {
    color: blue;
}

@media(max-width:685px) {
    header h1,
    h2 {
        font-size: 20px;
        text-align: center;
    }
    .tol a {
        color: #f3f2f3;
    }
}

header {
    background-image: url(./img/img1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header h1,
h2 {
    color: rgb(247, 222, 3);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-shadow: 0 0 50px black;
}

aside {
    text-align: center;
}

#messages {
    padding-bottom: 30%;
}

li {
    font-family: 'Times New Roman', Times, serif;
    list-style-type: none;
    margin: 20px;
    background-color: #6929ca;
    padding: 25px;
    border-radius: 10px;
    color: white;
    width: 50%;
    font-size: 20px;
}

li span {
    font-style: italic;
    font-weight: bolder;
    font-size: 22px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

#chat {
    width: 80%;
    margin: auto;
}

#message-form {
    margin: 0 auto;
    text-align: center;
    position: fixed;
    left: 10;
    bottom: 0;
    margin-bottom: 10px;
    padding: 10px;
    width: 85%;
    background-color: #b7b5b9;
    border-radius: 5px;
}

input {
    width: 70%;
    height: 30px;
    border-radius: 15px;
}

button {
    width: 25%;
    height: 38px;
    border-radius: 15px;
    color: #f3f2f3;
    background-color: #440c81;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.sent {
    text-align: right;
    margin-left: 50%;
}

.sent span {
    margin-left: 5px;
    color: #6929ca;
}