* {
    margin: 0;
}

body {
    width: max-content;
    height: max-content;
    width: 100%;
    height: 100%;
}

header {
    background-image: url(./img/img1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

header h1,
h2,
a {
    color: black;
    font-family: 'Pacifico', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-shadow: 0 0 50px black;
}

aside {
    margin-top: -15px;
    background-image: url(./img/img2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: auto;
    box-sizing: content-box;
    padding: 20px;
    height: auto;
}

#div1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#div1 img {
    height: 189px;
    width: 289px;
}

aside #div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

aside h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 531;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    animation-name: t1;
    color: #FF0000;
    margin-top: 20px;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

aside img {
    max-width: 245px;
    max-height: 145px;
    margin: 20px 10px
}

@media (max-width: 885px) {
    header h1,
    h2 {
        font-size: 30px;
        text-align: center;
    }
    footer h1 {
        font-size: 30px;
    }
}

footer #di {
    box-sizing: content-box;
    padding: 5px;
    max-width: 600px;
    margin: 0 auto;
}

@media (max-width: 345px) {
    body {
        padding: 100px;
        background-image: url(./img/img3.svg);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
    }
}

aside img {
    width: 250px;
    height: 149px;
    box-sizing: content-box;
}

@media(max-width:500px) {}

@keyframes t1 {
    0% {
        font-size: 30px;
    }
    100% {
        font-size: 32px;
    }
}